<div class="message">
  <div class="message-header">
    Subir una foto
  </div>
  <div class="message-body">
    Al subir una foto se encontrara el numero de la placa:
    <%= form_for(@car) do |f| %>
      <%= f.file_field :picture %>
      <%= f.submit %>
    <% end %>
  </div>
</div>


<% (0..999).each do |index| %>
  <% @car = @cars[index] %>
  <%= "</div>".html_safe if index%3 == 0 && index != 0 %>
  <%= "<div class=\"columns\">".html_safe if index%3 == 0 %>
  <div class="column">
    <% url = if @car then car_path(@car) else new_car_path(plate: index) end %>
    <%= link_to url do %>
      <div class="card hoverable" id="<%= plate_str(index) %>"> 
      <figure class="card-image">
        <% if @car %>
          <%= image_tag @car.picture.url(:thumb) %>
        <% else %>
          <span class="placeholder"><span class="plate"><%= plate_str(index) %></span></span>
        <% end %>
      </figure>
      <div class="card-content">
        <div class="content" style="text-align: center">
        <% if @car %>
          <small><%= time_ago_in_words @car.created_at %></small>
        <% else %>
          <small>🚘 La encontró? sube la foto! 📷</small>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
<% end %>
</div>

<script type="text/javascript">

function paddy(n, p, c) {
    var pad_char = typeof c !== 'undefined' ? c : '0';
    var pad = new Array(1 + p).join(pad_char);
    return (pad + n).slice(-pad.length);
}

function scroll(id) {
  window.scrollTo(0, document.getElementById(paddy(id, 3)).offsetTop - (window.innerHeight-265)/2)
}

function goToPlate() {
  id = document.getElementById("search").value
  scroll(id)
}

</script>
